<!DOCTYPE html>
<head><meta charset="UTF-8"></head>
<body>
  <form enctype="multipart/form-data" action="contact.php" method="post" id="form">
    <label for="contact_choice" id="firstformelement">Qui contactez vous ? *</label>
    <select class="" name="contact_choice" id="contact_choice">
      <option value="convention">Service d'accueil conventionnées</option>
      <option value="aquarelle">Halte-accueil l'Aquarelle</option>
    </select>
    <br id='errorContact'>
    <label for="title">title</label>
    <input type="radio" name="title" value="Mme">Mme
    <input type="radio" name="title" value="Mlle">Mlle
    <input type="radio" name="title" value="Mr">Mr.
    <br id='errorTitle'>
    <label for="name">Nom</label>
    <input type="text" name="name" value="Nom" id="name">
    <br id="errorName">
    <label for="first_name">Prénom</label>
    <input type="text" name="first_name" value="Prénom" id="first_name">
    <br id="errorFirstName">
    <label for="email">email *</label>
    <input type="email" name="email" value="email" id="email">
    <br id="errorEmail">
    <label for="subject">Objet</label>
    <select name="subject" id="subject">
      <option value="info">Demande d'informations</option>
      <option value="help">Offre d'aide</option>
      <option value="other">Autre</option>
    </select>
    <br id="errorSubject">
    <label for="message">Votre message *</label>
    <textarea name="message" rows="8" cols="80" id="message"></textarea>
    <br id="errorMessage">
    <label for="upload">Documents</label>
    <input type="file" size="32" name="image_field" value="" id="upload">
    <br id="errorUpload">
    <label for="reply_type">Format de réponse souhaité</label>
    <input type="radio" name="reply_type" value="HTML">HTML
    <input type="radio" name="reply_type" value="Texte">Texte
    <br id="errorResponse">
    <input type="submit" name="submit" value="Contactez-nous">
  </form>
</body>
</html>
